.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  margin-bottom: 1rem;
}
